# Generic rules
*.[oad]
.deps
.libs
*.l[oa]
*~
*.so
*.swp
*.bb
*.bbg
*.html
*.gcno
*.gcda
*.info
*.css
*.png
*.P
*.swo
*.tex
*.gif

*.log

*.orig
# Ctags file for source code
tags

#Cscope file
cscope.out
