<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>example0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>example1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>example2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>example3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>example4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>example7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>example8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libether.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>world.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F28745419311D6000AB760E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2874CE19311DCD00AB760E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2874DD19311F0100AB760E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2BF0F81931412800B59BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2BF1171931425700B59BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2BF136193142E500B59BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2BF163193144BA00B59BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2BF1821931455500B59BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F8CF62B19396F530017BA6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC07D6519313FAA001DD970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC07D7E19313FDB001DD970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
